body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 0 auto;
  border: 1px solid black;
  height: 100vh;
  width: 100vw;
}

.color-title {
  margin: 1rem auto;
  color: white;
}

.menu-container {
  display: flex;
  flex-direction: row;
  background-color: cornflowerblue;
  height: 5rem;
  border: 1px solid lime;
}

.menu-item {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  border: 2px solid lime;
  color: cornflowerblue;
}
